* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(244, 238, 238);
}
header {
    width: 100%;
    display: flex;
    border-bottom: solid gray;
    justify-content: space-between;
    margin-bottom: 20px;
}
header img {
    width: 50px;
    height: 50px;
    margin: 20px;
}
header div {
    display: flex;
    align-items: center;
    width: 200px;
}
.menu__wrapper {
    width: 200px;
    height: 500px;
}
.menu {
    list-style: none;
    width: 150px;
}
.menu__link {
    display: flex;
    text-decoration: none;
    color: black;
    align-items: center;
    padding: 10px;
}
li img {
    margin: 0 20px;
    width: 30px;
}
.menu__link:hover {
    background-color: rgb(241, 210, 210);
}
section {
    display: flex;
    gap: 10px;
}
.mail__wrapper {
    width: calc(100% - 200px);
 }
img {
    width: 15px;
}
.mail {
    display: flex;
    border-bottom: 2px solid grey;
    padding: 20px 0;
    margin-right: 40px;
   
}
.mail:hover {
    background: #dddddd;
}
.user__name {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}
.data {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    padding: 0 30px 0 20px;
}
.text__message {
    width: calc(100% - 350px);
    display: flex;
}
.mail__theme {
    white-space: nowrap;
}
.mail__message {
    color: gray;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.mail__message::before {
    content: " - ";
    color: grey;
}
@media screen and (max-width: 880px) {
    .mail {
        flex-direction: column;
        position: relative;
    }
    .text__message {
        flex-direction: column;
        width: calc(100% - 40px);
        padding-left: 35px;
    }
    .mail__message::before {
        content: "";
    }
    .data {
        position: absolute;
        right: 0;
    }
}
@media screen and (max-width: 550px) {
    .menu__wrapper {
        width: 100px;
    }
    .mail__wrapper {
        width: calc(100% - 100px);
    }
    .menu {
        width: calc(100% - 100px);
    }
   span {
        display: none;
       
   }
}
@media screen and (max-width: 350px) {
    .user__name {
        gap: 5px;
    }
    .text__message {
        padding-left: 20px;
    }
    header p {
        font-size: 13px;
    }
    .data {
        gap: 5px;
    }
}
    

